:root.theme-dark {
  --main-color: #000028;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --header-color: #db00ff;
  --bg-img: url(../images/cover-image-dark.png);
  --button-border-hover: #ff007066;
}

.page.theme_dark {
  --main-color: #000028;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --header-color: #db00ff;
  --bg-img: url(../images/cover-image-dark.png);
  --button-border-hover: #ff007066;
}