:root.theme-ligth {
  --main-color: #fff1f7;
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --header-color: #ffc2e6;
  --bg-img: url(../images/cover-image-light.png);
  --button-border-hover: #32312d66;
}

.page.theme_light {
  --main-color: #fff1f7;
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --header-color: #ffc2e6;
  --bg-img: url(../images/cover-image-light.png);
  --button-border-hover: #32312d66;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-color: #fff1f7;
    --accent-color: #ff8dcb;
    --text-color: #353430;
    --header-color: #ffc2e6;
    --bg-img: url(../images/cover-image-light.png);
    --button-border-hover: #32312d66;
  }

  .page.theme_auto .rec {
    display: none;
  }

  .page.theme_auto .header__theme-menu-button {
    color: var(--text-color, #353430);
  }

  .page.theme_auto .header__theme-menu-button_active {
    border: 1px solid var(--text-color, #353430);
  }

  .page.theme_auto .decorated-zone::before {
    border-block-start: 1px solid var(--text-color, #353430);
    border-inline-end: 1px solid var(--text-color, #353430);
  }

  .page.theme_auto .decorated-zone::after {
    border-block-end: 1px solid var(--text-color, #353430);
    border-inline-start: 1px solid var(--text-color, #353430);
  }

  .page.theme_auto .title-decor {
    background-color: var(--accent-color, #ff8dcb);
    color: var(--text-color, #353430);
  }

  .page.theme_auto .content__title {
    color: var(--text-color, #353430);
  }
}
