/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --main-color: #fff1f7;
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --header-color: #ffc2e6;
  --bg-img: url(../images/cover-image-light.png);
  --button-border-hover: #32312d66;
}

.theme_light .rec {
  display: none;
}

.theme_light .header__theme-menu-button {
  color: var(--text-color, #353430);
}

.theme_light .header__theme-menu-button_active {
  border: 1px solid var(--text-color, #353430);
}

.theme_light .decorated-zone::before {
  border-top: 1px solid var(--text-color, #353430);
  border-right: 1px solid var(--text-color, #353430);
}

.theme_light .decorated-zone::after {
  border-bottom: 1px solid var(--text-color, #353430);
  border-left: 1px solid var(--text-color, #353430);
}

.theme_light .title-decor {
  background-color: var(--accent-color, #ff8dcb);
  color: var(--text-color, #353430);
}

.theme_light .content__title {
  color: var(--text-color, #353430);
}
